// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 13/06/2020.
//  All code (c) 2020 - present day, Elegant Chaos.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include "Dependencies/ReleaseTools/Configs/RTMac.xcconfig"
#include "BuildNumber.xcconfig"


RT_VERSION = 1.0.0
RT_PRODUCT_NAME = Delayed Startup
RT_SHORT_NAME = DelayedStartup
RT_BUNDLE_IDENTIFIER = com.elegantchaos.delayedstartup
RT_TEAM = 2H48644JM2

DELAYED_STARTUP_ADDITIONAL_FRAMEWORKS =

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon$(RT_TYPE)


OTHER_LDFLAGS = $DELAYED_STARTUP_ADDITIONAL_FRAMEWORKS

// Uncomment the lines below to test Sparkle
//RT_BUILD = 100
//#include "Sources/DelayedStartup/Resources/IncludeSparkle.xcconfig"


MACOSX_DEPLOYMENT_TARGET = 10.15
ENABLE_PREVIEWS = YES
